{{ $parts := slice .Site.Params.docsRepo }}

{{ if (eq .Site.Params.repoHost "GitHub") }}
  {{ $parts = $parts | append "blob" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Gitea") }}
  {{ $parts = $parts | append "_edit" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "GitLab") }}
  {{ $parts = $parts | append "-/edit" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Bitbucket") }}
  {{ $parts = $parts | append "src" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "BitbucketServer") }}
  {{ $parts = $parts | append "browse" .Site.Params.docsRepoBranch }}
{{ end }}

{{ if isset .Site.Params "docsreposubpath" }}
  {{ if not (eq .Site.Params.docsRepoSubPath "") }}
    {{ $parts = $parts | append .Site.Params.docsRepoSubPath }}
  {{ end }}
{{ end }}

{{ $filePath := replace .File.Path "\\" "/" }}

{{ $parts = $parts | append "content" .Lang $filePath }}

{{ $url := delimit $parts "/" }}

<div class="edit-page">
  <a href="{{ $url }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
    </svg>
    Bearbeite diese Seite in {{ .Site.Params.repoHost }}
  </a>
</div>
